<!-- FOOTER -->
<% if (title != 'Home') { %>
<footer class="fixed-bottom text-center space-top">
    <span class="copyright">Chibi Development® 2020</span>

    </span>
</footer>
<% } else { %>
<footer class="fixed-bottom text-center space-top bg-transparent">

</footer>
<% } %>

<!-- FONTAWESOME -->
<script src="https://kit.fontawesome.com/ff8d25dcae.js" crossorigin="anonymous"></script>

<!-- MAPQUEST -->
<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>

</body>

</html>