<!-- FOOTER -->
<% if (title != 'Home') { %>
<footer class="fixed-bottom text-center space-top">
    <span class="copyright">® 2020</span>
    <span class="dev-name">
        Nadine Juraschek
        <a class="dev-links" href="mailto:nadine.jura@online.de"><i class="fas fa-envelope"></i></a>
        <a class="dev-links" href="https://github.com/nadinejuraschek"><i class="fab fa-github-square"></i></a>
        <a class="dev-links" href="https://www.linkedin.com/in/nadine-juraschek-3403b0175/"><i
                class="fab fa-linkedin"></i></a>
        <a class="dev-links icon-smaller" href="https://nadinejuraschek.github.io/Personal-Portfolio-Idea/"><i
                class="fas fa-link"></i></a>
    </span>
</footer>
<% } else { %>
<footer class="fixed-bottom text-center space-top bg-transparent">
    <span class="copyright">® 2020</span>
    <span class="dev-name">
        Nadine Juraschek
        <a class="dev-links" href="mailto:nadine.jura@online.de"><i class="fas fa-envelope"></i></a>
        <a class="dev-links" href="https://github.com/nadinejuraschek"><i class="fab fa-github-square"></i></a>
        <a class="dev-links" href="https://www.linkedin.com/in/nadine-juraschek-3403b0175/"><i
                class="fab fa-linkedin"></i></a>
        <a class="dev-links icon-smaller" href="https://nadinejuraschek.github.io/Personal-Portfolio-Idea/"><i
                class="fas fa-link"></i></a>
    </span>
</footer>
<% } %>

<!-- FONTAWESOME -->
<script src="https://kit.fontawesome.com/ff8d25dcae.js" crossorigin="anonymous"></script>

<!-- MAPQUEST -->
<script src="https://api.mqcdn.com/sdk/mapquest-js/v1.3.2/mapquest.js"></script>

</body>

</html>