<%- include ('partials/header') -%>

<div id="landing-header">
    <h1 class="logo-text">
        <span class="md-brand">Welcome to</span><br>
        <span class="lg-brand">Woofer</span>
    </h1>
    <a href="/parks" class="continue-btn"><i class="fas fa-arrow-circle-right"></i></a>
</div>

<ul class="slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<%- include ('partials/footer') -%>